.per-title{
    text-align: left;
    font-size: 26px;
    border-bottom: 1px solid #49d2cc;
    margin:2rem 0 1rem 0;
    padding: 0 0 0.5rem 0;
    font-weight: bold;
    color: #49d2cc;
    text-shadow: 0 0 10px #09a74f, 0 0 15px #030803, 0 0 30px #1d0606, 0 0 40px #9fff9f, 0 0 70px #0f500f, 0 0 80px #008000, 0 0 100px #008000;
}
.panel-primary>.panel-heading,.panel-primary>.panel-body,.panel-primary{
    background:none;
    border:none;
}
.panel-primary>.panel-heading,.panel-primary>.panel-body{
    width:97%;
    height:95%;
    margin-left:1.5%;
    margin-top:1.6%;
    border-radius:5px;
    box-shadow:rgb(11, 234, 235) 0px 2px 20px 4px inset;
    color: #52ff4f;
    background: rgba(59, 86, 15, 0.5);
}